doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='Cache-Control', content='no-cache')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

    meta(itemprop='name', content='Urban Campus')
    meta(itemprop='sourceOrganization', content='Urban Campus')
    meta(itemprop='inLanguage', content='en-EN')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='@urbancampus_')
    meta(property='og:title', content='Urban Campus')

    meta(name='theme-color', content='#FFFFFF')
    meta(name='mobile-web-app-capable', content='yes')
    link(rel='icon', type='image/png', href='/images/favicon/16x16.png', sizes='16x16')
    link(rel='icon', type='image/png', href='/images/favicon/32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/images/favicon/48x48.png', sizes='48x48')
    link(rel='icon', type='image/png', href='/images/favicon/64x64.png', sizes='64x64')
    link(rel='icon', type='image/png', href='/images/favicon/96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='/images/favicon/128x128.png', sizes='128x128')
    link(rel='icon', type='image/png', href='/images/favicon/160x160.png', sizes='160x160')
    link(rel='icon', type='image/png', href='/images/favicon/196x196.png', sizes='196x196')
    link(rel='icon', type='image/png', href='/images/favicon/228x228.png', sizes='228x228')
    link(rel='icon', type='image/png', href='/images/favicon/256x256.png', sizes='256x256')
    link(rel='shortcut icon', href='/images/favicon/favicon.ico')

    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='apple-mobile-web-app-title', content='Urban Campus')

    meta(name='application-name', content='Urban Campus')
    meta(name='msapplication-tooltip', content='Urban Campus')
    meta(name='msapplication-window', content='width=1024;height=768')
    meta(name='msapplication-navbutton-color', content='#EE6723')
    meta(name='msapplication-starturl', content='https://www.urbancampus.com/')
    meta(name='msapplication-TileColor', content='#FFFFFF')

    link(rel='stylesheet', type='text/css', href='./styles/main.css')

    title= 'UrbanCampus: Book your studio'

  body
    div#root
    script(type='text/javascript', src='./env-variables.js')
    script(type='text/javascript', src='./main.jsx')
